<ion-view title="Cadastre-se" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="cadastreSe-form2" class="list">
      <ion-list id="cadastreSe-list3">
        <label class="item item-input" id="cadastreSe-input4" name="nomeCompleto">
          <span class="input-label">Nome Completo</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastreSe-input5">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="cadastreSe-input6">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="cadastreSe-button3" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>